[submodule "vendor/extract_headers"]
	path = vendor/extract_headers
	url = https://github.com/Trantorian1/extract_headers.git
[submodule "vendor/libft"]
	path = vendor/libft
	url = https://github.com/Trantorian1/libft.git
